.header {
  width: 100%;
  height: 200px;
  background: var(--gray-700);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 126px;
  height: 48px;
}